


#background {
   height: 930px;
   width: 2200px;
    opacity : 0.1 ; 
}

  header {
    background-color: #f749a9;
    color: white;
    height: 470px;
    display: flex;
    align-items: center;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 120%;
    margin-top: -10px;
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 120%;
    margin-left: 290px;
    margin-top: -350px;
   
  }
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 190%;
    margin-left: 290px;
    margin-top: -380px;
   
  }

  .card4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: 190%;
    margin-left: 250px;
    margin-top: -400px;
  }
    .card5 {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
      height: 190%;
      margin-left: 200px;
      margin-top: -400px;
     
    }
  
  .pic {
height: 220px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  #logo {
   
    right: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    margin-top: -290%;
    
    margin-right: 3000px;
    border-radius: 50%;

  }
  .text {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: linear-gradient(to right, #FF69B4, #0e0408);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  

  
  .navbar {
    width: 100%;
    background: linear-gradient(to bottom, #fcfafa 0%, #ed91c2 25%, #e3aae2 50%, #e3b1db 100%);
    height: 90px;
    background-color: #f9bcf9;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  li {
    margin-left: 20px;
  }
  
  li:first-child {
    margin-left: 0;
  }
  
  li a {
    text-decoration: none;
    color: #080106;
    font-size: 30px;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  li a:hover {
    color: #FF69B4;
  }

  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


.input {
    background-color: #f6a0a0;
    max-width: 190px;
    height: 40px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 5px;

  }
  
  .input:focus {
    color: rgb(207, 83, 162);
    background-color: #212121;
    outline-color: rgb(252, 251, 252);
    box-shadow: -3px -3px 15px rgb(249, 100, 147);
    transition: .1s;
    transition-property: box-shadow;
  }

  button {
    background-color: #cc2a2a;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #888888;
  }

  h2 {
    font-weight: bold; 
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3)
  }
  
  #footer {
    background-color: #eddddd;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    margin-left: -1600px;
    margin-top: 500px;
  }
  .btn {
    background-color: #cc2a2a;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #888888;
  }
 
  